body{background-image: url(https://t4.ftcdn.net/jpg/01/00/10/81/240_F_100108179_OEpcsPcb3FiQ7YYKcxfwzUDTiREqH8aV.jpg);}

.yuti



.nemm{width: 300px;
        min-height: 300px;
        border: 1px solid  #1100ff;
        margin: auto;
        margin-top: 100px;
        border-radius: 30px;
         background-image: url(https://t4.ftcdn.net/jpg/04/84/11/15/240_F_484111532_W0WOkKeXQzF75XusA7R8e3llIDXqyCFm.jpg );
    }


.pas{display: block;
    margin-top: 30px;
     margin-left: 30px;

    
}
.iqonq1{width: 200px;height: 30px;
       
}


.infut1{margin-left:30px;
color: #ffffff;}

.infut{color: #ffffff;}


#userNAME{margin-left: 30px;}

.iqonq{margin-left: 25px;
margin-top: 30px;}

.submit{width: 200px;
    margin-left: 30px;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(38, 0, 255);
     
    border: 0; 
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;}

    .mm{margin-left: 80px;
     color: #ffffff;
    font-size: 15px;
     text-decoration: none;
    
    }


.regist{ color: #ffffff; 
  margin-left: 50px;
margin-top: 10px;}



.meniu{width: 300px;
    min-height: 300px;
    border: 1px solid  #1100ff;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
     background-image: url(https://t4.ftcdn.net/jpg/04/84/11/15/240_F_484111532_W0WOkKeXQzF75XusA7R8e3llIDXqyCFm.jpg );
}